:root {
--font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
--font-size-base: 16px;
--font-scale: 1;
--line-height: 1.5;
--font-weight: 400;

--color-text: rgba(33, 53, 71, 0.87);
--color-bg: #ffffff;
--color-bg-alt: rgba(237, 222, 224, 0.4);

--hc-color-text: #ffffff;
--hc-color-bg: #000000;

color-scheme: light dark;
color: var(--color-text);
background-color: var(--color-bg);

font-family: var(--font-family);
line-height: var(--line-height);
font-weight: var(--font-weight);
font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
margin: 0;
display: flex;
place-items: center;
min-width: 320px;
min-height: 100vh;
background: var(--color-bg-alt);
font-size: calc(var(--font-size-base) * var(--font-scale));
color: var(--color-text);
transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

a {
font-weight: 500;
color: #5c5c61;
text-decoration: inherit;
}
a:hover {
color: #696971;
}

h1 {
font-size: 3.2em;
line-height: 1.1;
}

button {
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: #1a1a1a;
color: var(--color-hc-text);
cursor: pointer;
transition: border-color 0.25s;
}
button:hover {
border-color: #898990;
}
button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

.high-contrast {
--color-text: var(--hc-color-text);
--color-bg: var(--hc-color-bg);
}
.high-contrast h1,
.high-contrast p,
.high-contrast button,
.high-contrast input,
.high-contrast textarea {
  background-color: var(--hc-color-bg) !important;
  color: var(--hc-color-text) !important;
}

.high-contrast button {
  border-color: var(--hc-color-text);
}


@media (prefers-color-scheme: light) {
:root {
--color-text: #213547;
--color-bg: #ffffff;
}
a:hover {
color: #54545a;
}
button {
background-color: #f9f9f9;
color: var(--color-text);
}
}
